# Temp files
*~
*#

# Program Temp files
*.pyc
*.swp

# Klocwork files
*.kwlp
*.kwps

# Build directory
/build

# MMD compiler output
linux64/lib/
linux64/include
linux64/libexec/diagnose
linux64/libexec/program

# FIM build files
pr_build_template
hardware/*/blue_bits
hardware/*/fim_platform
hardware/*/afu_opencl_kernel.qsf
hardware/*/bsp_dir_filelist.txt
hardware/*/build/afu_base.qsf
hardware/*/build/afu_flat.qsf
hardware/*/build/afu_import.qsf
hardware/*/build/emif_ddr4_no_ecc_altera_emif_arch_nd_191_ex43osq_0_summary.csv
hardware/*/build/emif_ddr4_no_ecc_altera_emif_arch_nd_191_ex43osq_1_summary.csv
hardware/*/build/emif_ddr4_no_ecc_altera_emif_arch_nd_191_ex43osq_2_summary.csv
hardware/*/build/emif_ddr4_no_ecc_altera_emif_arch_nd_191_ex43osq_3_summary.csv
hardware/*/build/fme-ifc-id.txt
hardware/*/build/fme-platform-class.txt
hardware/*/build/fme_id.mif
hardware/*/build/ofs_top.qdb
hardware/*/build/ofs_top.qpf
hardware/*/build/ofs_top.qsf
hardware/*/build/ofs_top.stp
hardware/*/build/ofs_top.out.sdc
hardware/*/build/ofs_top_assignment_defaults.qdf
hardware/*/build/build_env_db.txt
hardware/*/build/ofs_pr_afu_sources.tcl
hardware/*/build/output_files/
hardware/*/build/platform/
hardware/*/build/ofs_partial_reconfig/
hardware/*/build/scripts/report_timing.tcl
hardware/*/build/scripts/user_clock_defs.tcl
hardware/*/build/scripts/user_clock_freqs_compute.tcl
hardware/*/build/scripts/user_clocks.sdc
hardware/*/build/scripts/syn_top_relpath.tcl
hardware/*/ofs_pr_afu.qsf
hardware/*/build/tools/
hardware/*/build/src/
hardware/*/build/syn/
hardware/*/build/syn_top/
hardware/*/build/ipss/
hardware/*/build/ip/BBB_*/
hardware/*/ip_lib/
hardware/*/design/
hardware/*/hw/
hardware/*/ofs_top.qpf
hardware/*/build/config_env.tcl
